/*
.svgContainer {
    width: 50%;
    height: 0;
    padding-top: 48%;
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}
*/

/*
Diagram Browser Section
*/
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}

#diagramBrowserButtons {
  width:100%;
}

#diagramBrowserCancel,
#diagramBrowserOK,
#diagramBrowserComment {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#diagramBrowserComment {
   color: white;
   font-size: 130%;
}

.box {
  display: inline-block;
  width: 200px;
  height: 180px;
  margin: 1em;
  border-style: solid;
  border-color: #ffffff;
}

.box img{
   width: 100%;
   height: 80%;
}
.box label{
   display: inline;
   color: white;
}
.box label,
.box input {
  margin-left: 2px;
  margin-right: 2px;
}

/*
mdn Section
<div id="mdnContainer">
    <div id="mdnButtonContainer">
        some <button>
    </div>

    <div id="AllSVGContainer">
        <div class="svgContainer mdnMediumScreen"> // second class changes to mdnFullScreen when fullscreen button is clicked
            <svg> ...
        </div>
        <div class="svgContainer mdnMediumScreen">
            <svg> ...
        </div>  // currently only two svgs
    </div>
	
    <div id="diagramBrowser" style="display:none"">
   
    </div>

</div>
*/

#AllSVGContainer {
  margin-top: 2px;
}

svg {
  width: 100%;
  height: 100%;
}

.mdnMediumScreen {
  width: 100%;
  display: block;
}

.mdnFullScreen.mdnDoubleLayout {
  width: 49%;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.mdnFullScreen.mdnSingleLayout {
  height: 85%;
  display: block;
}

#mdnButtonContainer{
  height: 10%;
}

.mdnButton {
  color: #900;
  font-weight: bold;
  height:2em;
}

.connections_svgContainer{
  width: 49%;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

/*
Connections Window
*/

#diagramSelectionList1{
   display: inline-block;
}

#connectionsWindowButtons{
   display: inline-block;
}

#diagramSelectionList2{
   display: inline-block;
}

